page-login {
    .background {
		background-image: url('../assets/img/bg.jpg');
	}

	#title {
		color: #fff;
		font-size: 4em;
	}

	.scroll-content {
		background-color: transparent !important;
		text-align: right;
	}

	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		
		ion-card-content {
			padding-left: 10px !important;
			padding-right: 10px !important;
			padding-bottom: 5px !important;
		}
	}

	a, p, ion-card-header.card-header {
		color: #fff !important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 10px;
		background: rgba(255, 255, 255, 0.5);
		border: medium none;

		.text-input, {
			color: #fff !important;
		}

		input::-moz-placeholder  {
			color: #fff !important;
		}

		input:-moz-placeholder {
			color: #fff !important;
		}

		*::-webkit-input-placeholder  {
			color: #fff !important;
		}

		*:-ms-input-placeholder  {
			color: #fff !important;
		}

		*:-moz-placeholder  {
			color: #fff !important;
		}
	}

	.icon {
		padding-right: 10px;
	}

	.top-btn {
		margin-top: 20px !important;
	}

	.bottom-btn {
	}
}