page-home {
    ion-scroll.recommend {
        height: 42px;
        width: 100%;
        .scroll-content {
            height: 42px;
            width: 100%;
            .scroll-zoom-wrapper {
                display: inline-block;
                white-space: nowrap;
            }
        }
    }
}