page-create {
    #option-label{
        margin-left: 10px !important;
        margin-right: 10px !important;
        margin-bottom: 5px !important;
        border-bottom: 1px solid #cccccc !important;
        font-size: 2.0em !important;
        font-weight: 100 !important;
    }
    .img-icon {
        width: 40px !important;
    }
}
